# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
fastapi
google-generativeai
lancedb
pydantic-ai
uvicorn
python-dotenv